.navbar {
  background-color: rgba(14, 14, 14, 0.4);
  border-style: none;
}

header nav {
  text-align: center;
  background: rgba(14, 14, 14, 0.4);
}

header nav ul {
  margin: 0;
  padding: 1em;
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin-left: 1em;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li ul {
  display: none;
}

